DATABASE_URL=
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# STRIPE INFO
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# ZOOM INFO
ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_SECRET_TOKEN=

# EMAIL INFO
EMAIL_PROVIDER=
EMAIL_API_KEY=
# SMS INFO
SMS_PROVIDER=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=

