DATABASE_URL=
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# STRIPE INFO
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# ZOOM INFO
ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_SECRET_TOKEN=

# EMAIL INFO (Resend)
EMAIL_PROVIDER=resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=noreply@sozofitness.com

